" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" Must have FunctionTextObj plugin installed.
set functiontextobj

" Do incremental searching.
set incsearch

" Format
map <leader>F gq

let mapleader=" "

set ignorecase
set smartcase
" 3 lines above/below cursor when scrolling
set scrolloff=3

" Integrate with system clipboard
set clipboard=unnamedplus,unnamed

" Escape is too much of a reach
inoremap jk <esc>
inoremap <c-k> <esc>

" These create newlines like o and O but stay in normal mode
nnoremap zj o<esc>k
nnoremap zk O<esc>j

" Make "Y" work from the cursor to end of line instead of like "yy"
nnoremap Y y$

" Make it easier to switch between windows
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nmap <c-w>L <Action>(MoveEditorToOppositeTabGroup)
nmap <c-w>H <Action>(MoveEditorToOppositeTabGroup)
nmap <c-w>J <Action>(MoveEditorToOppositeTabGroup)
nmap <c-w>K <Action>(MoveEditorToOppositeTabGroup)

nmap <leader>fp <Action>(GotoFile)
nmap <leader>fP <Action>(GotoFile)
nmap <leader>fs <Action>(FileStructurePopup)

nmap <leader>. <action>(SelectInProjectView)
nnoremap <leader><leader> <c-^>

nmap <c-b> gT
nmap <c-n> gt

nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>ot <Action>(ActivateTerminalToolWindow)
nmap <leader>od <Action>(ActivateDebugToolWindow)
nmap <leader>tc <Action>(HideAllWindows)
nmap <leader>td <Action>(ToggleDistractionFreeMode)
nmap <leader>d <Action>(ShowErrorDescription)

" Add a 'stamp' command to replace word or selection with yanked text.
nnoremap <leader>p diw"0P
vnoremap <leader>p "_d"0P

" Center the screen when jumping through the changelist
nnoremap g; g;zz
nnoremap g, g,z

" Fast saving
nnoremap <leader>w :w!<cr>

" Swap implementations of ` and ' jump to markers
" By default, ' jumps to the marked line, ` jumps to the marked line and
" column, so swap them
nnoremap ' `
nnoremap ` '

nnoremap <leader>
