keybinds clear-default=true {
    normal { }
    shared_except "tmux" {
        bind "Ctrl a" { SwitchToMode "Tmux"; }
    }
    tmux {
        bind "[" { SwitchToMode "Scroll"; }
        bind "Ctrl a" { Write 2; SwitchToMode "Normal"; }
        bind "\"" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "%" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "o" { FocusNextPane; }
        bind "d" { Detach; }
        bind "Space" { NextSwapLayout; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "t" { ToggleTab; SwitchToMode "Normal"; }
    }
    shared {
        bind "Alt Shift z" {
            // Enable the autolock plugin.
            MessagePlugin "autolock" {payload "enable";};
        }
        //...
    }
    locked {
        bind "Alt z" {
            // Disable the autolock plugin.
            MessagePlugin "autolock" {payload "disable";};
            // Unlock Zellij.
            SwitchToMode "Normal";
        }
        //...
    }
    shared_except "locked" {
        // Put keybindings here if they conflict with Vim or others.

        bind "Alt z" {
            // Disable the autolock plugin.
            MessagePlugin "autolock" { payload "disable"; };
            // Lock Zellij.
            SwitchToMode "Locked";
        }

        bind "Ctrl h" {
            MoveFocusOrTab "Left";
        }
        bind "Ctrl l" {
            MoveFocusOrTab "Right";
        }
        bind "Ctrl j" {
            MoveFocus "Down";
        }
        bind "Ctrl k" {
            MoveFocus "Up";
        }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
    autolock location="file:~/.config/zellij/plugins/zellij-autolock.wasm" {
        is_enabled true
        triggers "nvim|vim|git|fzf|zoxide|atuin"
        // Reaction to input occurs after this many seconds. (default=0.3)
        // (An existing scheduled reaction prevents additional reactions.)
        reaction_seconds "0.3"
        // Print to Zellij log?
        print_to_log false
    }
}

// Load "headless" plugin on start.
load_plugins {
  autolock
}

pane_frames false

themes {
    dracula {
        fg 248 248 242
        bg 40 42 54
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        orange 255 184 108
        cyan 139 233 253
        black 0 0 0
        white 255 255 255
    }
}

theme "dracula"
default_layout "compact"
scroll_buffer_size 50000
